!tango_blue_thin  = #e3effc
!tango_blue_light = #729fcf
!tango_blue_med   = #3465a4
!tango_blue_dark  = #204a87

body
  font:
    family: FreeSans, Arial, Helvetica, sans-serif
    size: 14pt

#content
  margin: auto
  width: 80%

h1#title
  font:
    family: FreeSerif, Georgia, times, serif
    size: 2em
    weight: bold
  margin: 2em 1em 1.5em 1em

ul
  list-style-type: none

a
  border-bottom = "1px solid #{!tango_blue_thin}"
  color = !tango_blue_med
  display: block
  line-height: 2em
  padding: 0px 0.5em
  text-decoration: none

a:hover
  background-color = !tango_blue_light
  color: #fff
    
